[Desktop Entry]
Name[da]=Endeavour
Name[de]=Endeavour
Name[eu]=Endeavour
Name[fa]=اندوور
Name[fi]=Endeavour
Name[hr]=Endeavour
Name[hu]=Endeavour
Name[id]=Endeavour
Name[is]=Endeavour verkefnastýringin
Name[it]=Endeavour
Name[pl]=Endeavour
Name[pt]=Endeavour
Name[pt_BR]=Endeavour
Name[ru]=Endeavour
Name[sr]=Роковник
Name[sv]=Endeavour
Name[uk]=Endeavour
Name[zh_CN]=Endeavour
Name=Endeavour
Comment[af]=Bestuur jou persoonlike take
Comment[ar]=أدر مهامك الشخصية
Comment[be]=Кіраванне вашымі асабістымі заданнямі
Comment[bg]=Управление на задачите ви
Comment[ca]=Gestioneu les tasques personals
Comment[ca@valencia]=Gestioneu les tasques personals
Comment[ckb]=ئەرکە تایبەتەکانت بەڕێوەببە
Comment[cs]=Spravujte své osobní úkoly
Comment[da]=Håndtér dine personlige opgaver
Comment[de]=Verwalten von persönlichen Aufgaben
Comment[el]=Διαχειριστείτε τις προσωπικές σας εργασίες
Comment[en_GB]=Manage your personal tasks
Comment[eo]=Mastrumi viajn konservitajn serĉojn
Comment[es]=Gestionar sus tareas personales
Comment[et]=Isiklike ülesannete haldamine
Comment[eu]=Kudeatu zure zeregin pertsonalak
Comment[fa]=مدیریت وظایف شخصیتان
Comment[fi]=Hallitse omia tehtäviäsi
Comment[fr]=Gérer vos tâches personnelles
Comment[fur]=Gjestion des propriis ativitâts
Comment[gl]=Xestione as súas tarefas persoais
Comment[he]=ניהול המשימות האישיות שלך
Comment[hr]=Upravljajte svojim osobnim zadacima
Comment[hu]=Személyes feladatok kezelése
Comment[id]=Kelola tugas pribadi Anda
Comment[is]=Sýsla með persónuleg verkefni
Comment[it]=Gestione delle proprie attività
Comment[ja]=個人タスクを管理します
Comment[kk]=Жеке тапсырмаларыңызды басқару
Comment[ko]=개인 일정을 관리합니다
Comment[lt]=Tvarkykite savo asmenines užduotis
Comment[lv]=Pārvaldiet savus personīgos uzdevumus
Comment[ms]=Urus tugas-tugas peribadi anda
Comment[nb]=Håndter dine personlige oppgaver
Comment[ne]=तपाईँको व्यक्तिगत कार्य प्रबन्ध गर्नुहोस्
Comment[nl]=Uw persoonlijke taken beheren
Comment[oc]=Gerir vòstres prètzfaits personals
Comment[pa]=ਆਪਣੇ ਨਿੱਜੀ ਕੰਮਾਂ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Zarządzanie zadaniami
Comment[pt]=Gerir as suas tarefas pessoais
Comment[pt_BR]=Gerencie suas tarefas pessoais
Comment[ro]=Administrați sarcinile personale
Comment[ru]=Управляйте своими персональными задачами
Comment[sk]=Spravujte vaše osobné úlohy
Comment[sl]=Upravljanje z osebnimi opravili in dnevnimi nalogami
Comment[sr]=Управљајте личним задацима
Comment[sr@latin]=Upravljajte ličnim zadacima
Comment[sv]=Hantera dina uppgifter som ska göras
Comment[tr]=Kişisel görevlerinizi yönetin
Comment[vi]=Quản lý các nhiệm vụ cá nhân của bạn
Comment[uk]=Керувати особистими завданнями
Comment[zh_CN]=管理您的个人任务
Comment[zh_TW]=管理您的個人事項
Comment=Manage your personal tasks
Exec=endeavour
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Todo
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=Taak;Produktiwiteit;Beplanner;
Keywords[ar]=Task;Productivity;Todo;مهمة;مهام;إنتاجية;
Keywords[be]=Задача;Прадукцыйнасць;Да выканання;
Keywords[bg]=task;productivity;todo;задача;списък;правене;напомняне;
Keywords[ca]=Tasques;Productivitat;Per a fer;
Keywords[ca@valencia]=Tasques;Productivitat;Per fer;
Keywords[ckb]=Task;Productivity;Todo;
Keywords[cs]=úkoly;úkolníček;produktivita;todo;dodělat;dokončit;
Keywords[da]=Opgave;Produktivitet;Gøremål;Todo;
Keywords[de]=Aufgaben;Produktivität;Todo;
Keywords[el]=Εργασία;Παραγωγικότητα;Εργασίες;Task;Productivity;Todo;
Keywords[en_GB]=Task;Productivity;Todo;
Keywords[eo]=Tasko;Produktiveco;Endaĵo;
Keywords[es]=Tarea;Productividad;Pendiente;Hacer;
Keywords[et]=Task;Productivity;Todo;Ülesanded;Tööd;Nimekiri;Tegemata;
Keywords[eu]=zeregina;eraginkortasuna;produktibitatea;egitekoak;
Keywords[fa]=Task;Productivity;Todo;فعالیت;کارایی;وظایف;
Keywords[fi]=Task;Productivity;Todo;tehtävä;tuottavuus;
Keywords[fr]=Tâche;Productivité;À faire;Todo;
Keywords[fur]=Ativitât;Produtivitât;Di fâ;
Keywords[gl]=Tarefas;Produtividade;Para facer;
Keywords[he]=משימות;משימה;פריון;עשייה;ביצוע;מטלה;מטלות;לעשות;
Keywords[hr]=Zadatak;Produktivnost;Popis zadataka;
Keywords[hu]=Feladat;Teendő;Tennivaló;
Keywords[id]=Tugas;Produktivitas;Todo;
Keywords[is]=Vinna;verkefni;framlegð;
Keywords[it]=Attività;Produttività;Dafare;Fare;Todo;
Keywords[ja]=Task;Productivity;Todo;タスク;プロダクティビティ;メモ;
Keywords[kk]=Task;Productivity;Todo;Тапсырма;Өнімділік;Жасау үшін;
Keywords[ko]=Task;일정;Productivity;생산성;Todo;
Keywords[lt]=Užduotis;Darbas;Produktyvumas;
Keywords[lv]=Uzdevums;Produktivitāte;Todo;Darāmie;
Keywords[mjw]=Task;Productivity;Todo;
Keywords[ms]=Tugas;Produktiviti;Todo;
Keywords[nb]=Oppgaver;Produktivitet;
Keywords[ne]=कार्य; उत्पादकत्व; गर्नुपर्ने कार्य;
Keywords[nl]=Task;Productivity;Taak;Productiviteit;Todo;Taken;
Keywords[oc]=Prètzfait;Productivitat;De far;Todo;
Keywords[pa]=ਕੰਮ;ਉਤਪਾਦਕ;ਟੂ-ਡੂ;
Keywords[pl]=Zadanie;Lista;Produktywność;Biuro;Do zrobienia;Todo;To Do;
Keywords[pt]=Tarefa;Produtividade;A fazer;
Keywords[pt_BR]=Tarefas;Produtividade;Lista de tarefas;
Keywords[ro]=Task;Productivity;Todo;Sarcină;Sarcini;Productivitate;De făcut;
Keywords[ru]=Задачи;Продуктивность;Todo;
Keywords[sk]=úloha;produktivita;úlohy;
Keywords[sl]=Naloga;Produktivnost;Delo;Opomniki;
Keywords[sr]=задаци;продуктивност;заказано;zadaci;produktivnost;zakazano;Task;Productivity;Todo;
Keywords[sr@latin]=zadaci;produktivnost;zakazano;zadaci;produktivnost;zakazano;Task;Productivity;Todo;
Keywords[sv]=Uppgift;Produktivitet;Effektivitet;
Keywords[tr]=Görev;Verimlilik;Üretkenlik;Yapılacaklar;
Keywords[vi]=Task;nhiệm vụ;công tác;tác vụ;Productivity;năng suất;cần làm;can lam;
Keywords[uk]=Задача;Продуктивність;Зробити;
Keywords[zh_CN]=Task;Productivity;Todo;待办事项;生产力;任务;
Keywords[zh_TW]=Task;Productivity;事項;生產力;事務;待辦;工作;
Keywords=Task;Productivity;Todo;
DBusActivatable=true
X-GNOME-Autostart-Phase=GSM_MANAGER_PHASE_APPLICATION
